/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

body{
  font-size:18px;
}

.table tr:hover {
  background-color: #ededed !important;
}

#appInfoLabel {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end;
}

.page-header{
  margin-top: 20px;
  color: #d84a3b;
}

.my-form{
  width:auto;
  margin-top:2em;
  padding:0 2em 2em 2em;
}
.my-form.box{
  border-style: solid;
  border-width: 1px; 
}
.my-form.inline{
  padding: 1em;
}

.form-hook input[type=text], .form-hook select{
  min-width: 0;
  padding:4px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.my-form input[type=text], .my-form select{
  min-width: 250px;
  padding:4px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.my-form button{
  min-width: 50px;
}
.my-form span{
  display:block;
}

td.unpaired{
  color:grey;
}

.btn-fixed{
  min-width: 130px;
}

.info-table td{
  /*border-bottom: 1px solid #ddd;*/
  padding: 0.3em 0.8em;
}
.info-table .first{
  text-align: right;
}
.info-table .second{
  font-weight: bold;
}

.color-active.active-tile{
  color: green;
}
.color-active{
  color: red;
}

.rules-table{
  width: 0;
  margin-bottom: 0;
}
.rules-table td{
  padding: 0 1em 0 1em;
}
.rules-table input[type=text] {
  width: 100%;
  margin: 0;
  padding:4px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* Bootstrap override NAVBAR */
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
  /*color: #9d9d9d;*/
  color: #d84a3b;
  font-weight: bold;
}
.navbar-inverse .navbar-brand:hover{
  color: #d84a3b;
} 

.navbar-brand{
  font-size: 1.2em;
}
.navbar-inverse{
  /*background-color: black;*/
  font-size: 1.4em;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a{
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #d84a3b;
}
/*.navbar-inverse{
  background-color: #d84a3b;
}*/
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus{
  background-color: #d84a3b;
}
