<script type="text/ng-template" id="/docs.html">
    <div style="margin-top:-20px">
        <div class="wrapper toggled">
            <div>
                <% var active = 'docs' %>
                <% include docs/docs-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <h2>Introduction</h2>
            </div>
        </div>
    </div>
</script>

<% include docs/docs2 %>
<% include docs/docs3 %>
<% include docs/docs4 %>
<% include docs/docs5 %>
<% include docs/docs6 %>