<script type="text/ng-template" id="/home.html">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div id="appInfoLabel">
                <span>Version: <%= appVersion %></span><br/>
                <span>Build date: <%= buildDate %></span>
            </div>

            <div class="page-header">
                <h1 style="display:inline">TILES Cloud</h1>
            </div>
            <p>
                Welcome to the TILES Cloud web portal.
            </p>
            <p>
                Text...
            </p>
        </div>
    </div>
</script>