<script type="text/ng-template" id="/home.html">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div id="appInfoLabel">
                <span>Version: <%= appVersion %></span><br/>
                <span>Build date: <%= buildDate %></span>
            </div>

            <div class="page-header">
                <img src="/images/tiles_logo_red.svg" style="margin-top:-10px; max-width:50px;">
                <h1 style="display:inline">TILES</h1>
            </div>
            <p>
                <b>Welcome to the TILES Cloud web portal!</b>
            </p>
            <p>
                
                This website is the TILES Cloud web portal which features administration of users, TILES Square modules, applications and
                input/output primitives to be used when developing IoT applications using the TILES toolkit.
                <br/><br/> To learn more, please visit the <a href="/docs#/docs-main1">docs</a> section and you will be developing IoT
                applications in no time!
            </p>
        </div>
    </div>
</script>