<script type="text/ng-template" id="/tile.html">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="page-header">
                <h1>{{userId}}</h1>
                <h2>{{tileName}} ({{tileId}})</h2>
            </div>
            <h3>Webhooks</h3>
            <div ng-hide="webhooks.length">No Webhooks registered for this Tile and user.</div>
            <table ng-show="webhooks.length" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Callback URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="webhook in webhooks">
                        <td>{{webhook._id}}</td>
                        <td>{{webhook.postUrl}}</td>
                        <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteWebhook(webhook)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <form ng-submit="addWebhook()" style="margin-top:30px;">
                <h4>Register a new webhook</h4>
                <div class="form-group">
                    <input type="text" placeholder="URL" ng-model="webhookUrl">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</script>