<html>

<head>
	<title>Tiles API</title>

	<!-- JQuery -->
	<script src="/libs/jquery-3.1.1.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/libs/bootstrap-3.3.5.min.css">
	<!--<script src="/javascripts/bootstrap-3.3.7.min.js"></script>-->

	<!-- Custom files -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/sidebar.css">
	<script src="/javascripts/javascript.js"></script>

	<!-- JQuery Confirm-->
	<link rel="stylesheet" href="/libs/jquery-confirm-3.0.3.min.css">
	<script src="/libs/jquery-confirm-3.0.3.min.js"></script>

	<!-- AngularJS -->
	<script src="/libs/angular-1.3.15.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>-->

	<!-- AngularJS modules -->
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/controllers.js"></script>
	<script src="/javascripts/controllers-docs.js"></script>
	<script src="/javascripts/services.js"></script>
	<script src="/libs/angular-ui-router-0.2.15.min.js"></script>
</head>

<body ng-app="tilesDocs">
	<% var base = '/' %>
	<% include partials/navigator %>

	<!-- PLACE HOLDER FOR TEMPLATE VIEWS -->
	<div style="margin-top:-20px">
		<ui-view></ui-view>
	</div>

	<!-- TEMPLATES -->
	<div><% include templates/docs/docs-main1 %></div>
	<div><% include templates/docs/docs-main2 %></div>
	<div><% include templates/docs/docs-main3 %></div>
	<div><% include templates/docs/docs-main4 %></div>
	<div><% include templates/docs/docs-main5 %></div>
	<div><% include templates/docs/docs-main6 %></div>

	<div><% include templates/docs/docs-app0 %></div>
	<div><% include templates/docs/docs-app1 %></div>
	<div><% include templates/docs/docs-app2 %></div>
	<div><% include templates/docs/docs-app3 %></div>
	<div><% include templates/docs/docs-app4 %></div>
	<div><% include templates/docs/docs-app5 %></div>
	<div><% include templates/docs/docs-app6 %></div>
	<div><% include templates/docs/docs-app7 %></div>

	<div><% include templates/docs/docs-ext0 %></div>
	<div><% include templates/docs/docs-ext1 %></div>
	<div><% include templates/docs/docs-ext2 %></div>
	<div><% include templates/docs/docs-ext3 %></div>

	<div><% include templates/docs/docs-js1 %></div>

	<div><% include templates/docs/docs-re1 %></div>
</body>

</html>