<html>

<head>
	<title>Tiles API</title>

	<!-- JQuery -->
	<script src="/libs/jquery-3.1.1.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/libs/bootstrap-3.3.5.min.css">
	<!--<script src="/javascripts/bootstrap-3.3.7.min.js"></script>-->

	<!-- Custom files -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/sidebar.css">
	<script src="/javascripts/javascript.js"></script>

	<!-- JQuery Confirm-->
	<link rel="stylesheet" href="/libs/jquery-confirm-3.0.3.min.css">
	<script src="/libs/jquery-confirm-3.0.3.min.js"></script>

	<!-- AngularJS -->
	<script src="/libs/angular-1.3.15.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>-->

	<!-- AngularJS modules -->
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/controllers.js"></script>
	<script src="/javascripts/docs-controller.js"></script>
	<script src="/javascripts/services.js"></script>
	<script src="/libs/angular-ui-router-0.2.15.min.js"></script>
</head>

<body ng-app="tilesApi">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/home">
					<span><img src="/images/tiles_logo_red.svg" style="margin-top:-10px; max-width:40px; max-height:40px;"></span>
					<span>TILES Cloud</span>
				</a>
			</div>
			<div id="data-spy-div">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#/home">Home</a></li>
					<li><a href="#/users">Users</a></li>
					<li><a href="#/applications">Applications</a></li>
					<li><a href="#/primitives">Primitives</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="#/docs">Docs</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- PLACE HOLDER FOR TEMPLATE VIEWS -->
	<ui-view></ui-view>

	<!-- Home template -->
	<div>
		<% include templates/home %>
	</div>
	<!-- Users template -->
	<div>
		<% include templates/users %>
	</div>
	<!-- User template -->
	<div>
		<% include templates/user %>
	</div>
	<!-- Tile template -->
	<div>
		<% include templates/tile %>
	</div>
	<!-- Applications template -->
	<div>
		<% include templates/applications %>
	</div>
	<!-- Application template -->
	<div>
		<% include templates/applications %>
	</div>
	<!-- Primitives template -->
	<div>
		<% include templates/primitives %>
	</div>
	<!-- Docs template -->
	<div>
		<% include templates/docs %>
	</div>
</body>

</html>