<div id="sidebar-wrapper">
    <ul class="sidebar-nav">

        <li class="sidebar-brand">
            <span>Getting started</span>
            <!--<a href="#">Start Bootstrap</a>-->
        </li>

        <li class="<% if(active=='docs'){%>active<%}%>">
            <a href="#/docs">1. Introduction</a>
        </li>
        <li class="<% if(active=='docs2'){%> active <%}%>">
            <a href="#/docs2">2. Getting started</a>
        </li>
        <li class="<% if(active=='docs3'){%> active <%}%>">
            <a href="#/docs3">3. Creating application</a>
        </li>
        <li class="<% if(active=='docs4'){%> active <%}%>">
            <a href="#/docs4">4. Development environtment</a>
        </li>
        <li class="<% if(active=='docs5'){%> active <%}%>">
            <a href="#/docs5">5. TILES Squares</a>
        </li>
        <li class="<% if(active=='docs6'){%> active <%}%>">
            <a href="#/docs6">6. Deploying application</a>
        </li>

        <li class="sidebar-brand">
            <span>More docs..</span>
            <!--<a href="#">Start Bootstrap</a>-->
        </li>
        <li class="<% if(active==''){%> active <%}%>">
            <a href="#">1. Test1</a>
        </li>
        <li class="<% if(active==''){%> active <%}%>">
            <a href="#">2. Test2</a>
        </li>
        <li class="<% if(active==''){%> active <%}%>">
            <a href="#">3. Test3</a>
        </li>
        <li class="<% if(active==''){%> active <%}%>">
            <a href="#">4. Test4</a>
        </li>

    </ul>
</div>