<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-main2"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Getting Started</h2>
                <h3>What do you need?</h3>
                <div class="docs-img docs-cards">
                    <img src="/images/tiles_squares.png" alt="tiles_squares">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <img src="/images/galaxy_s7_smartphone.png">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <img src="/images/development_pc.png">
                    <!--<img style="border:solid 1px red;" src="http://www.albax.fr/images/no_img_liste.gif" />-->
                </div>

                <ul>
                    <li>TILES Square(s)</li>
                    <li>TILES Gateway</li>
                    <li>Development PC</li>
                </ul>
                <p>
                    To start developing with the TILES toolkit you will first need to procure TILES Squares and install the Gateway app on a
                    smartphone device. Please visit the
                    <a href="{{tilestoolkitUrl}}" target="_blank">TILES toolkit homepage</a> for instructions on how to procure TILES Squares
                    and the TILES Gateway app. In addition you will need a development PC with an internett connection for
                    configuring the application in the TILES Cloud web portal, and coding the application logic. The TILES
                    toolkit is platform independent, which means that it is compatible with any operating system you would
                    want to use.
                </p>

                <p>
                    If you want to extend the TILES Square firmware, you will also need to download the
                    <a href="https://www.arduino.cc/en/Main/Software" target="_blank">Arduino IDE</a>.
                </p>
            </div>
        </div>
    </script>