<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-app7"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Application Interaction</h2>
                <p>
                    In this final step of the process, you are ready to use your application by interacting with the configured TILES Squares.
                    By now you should have:
                    <ol>
                        <li>
                            <a href="#/docs-app1">Identified Modules</a> that you need in your application
                        </li>
                        <li>
                            <a href="#/docs-app2">Created Application</a> and configured it in the TILES Cloud web portal
                        </li>
                        <li>
                            <a href="#/docs-app3">Developed Application</a> in the chosen development environment
                        </li>
                        <li>
                            <a href="#/docs-app4">Deployed Application</a> to run outside development
                        </li>
                        <li>
                            <a href="#/docs-app5">Appropriated Application</a> by configuring a gateway to run your application
                        </li>
                        <li>
                            <a href="#/docs-app6">Appropriated Devices</a> by pairing abstract and physical devices in your
                            application.
                        </li>
                    </ol>
                </p>
                <p>
                    Using the application intails interacting with the TILES Squares to prduce the desired input and output events for the connected
                    Squares and digital services.
                </p>
                <p>
                    As a final note, it is important to remember that application development such as this often requires to revisit some of
                    development. If you discover some inconsistency with the behavior of your application, you might need
                    to revisit some of the steps of the <i>Application Development Process</i>. Additionally,
                    if you later want to extend your application, it is possible to do so by performing a new iteration of
                    the process in order to change or extend the application capabilities.
                </p>

                <p class="text-color-red">
                    You have reached the end of the documentation for the <b>TILES Toolkit Application Development Process</b>.
                </p>
            </div>
        </div>
    </script>