<ul class="sidebar-nav">

    <!--Docs Main-->
    <li class="sidebar-brand">
        <span>Getting started</span>
    </li>
    <li class="<% if(active=='docs-main1'){%>active<%}%>">
        <a href="#/docs-main1">1. Introduction</a>
    </li>
    <li class="<% if(active=='docs-main2'){%> active <%}%>">
        <a href="#/docs-main2">2. Getting started</a>
    </li>
    <li class="<% if(active=='docs-main3'){%> active <%}%>">
        <a href="#/docs-main3">3. TILES toolkit</a>
    </li>
    <li class="<% if(active=='docs-main4'){%> active <%}%>">
        <a href="#/docs-main4">4. Development environments</a>
    </li>
    <li class="<% if(active=='docs-main5'){%> active <%}%>">
        <a href="#/docs-main5">5. TILES Square primitives</a>
    </li>
    <li class="<% if(active=='docs-main6'){%> active <%}%>">
        <a href="#/docs-main6">6. more?</a>
    </li>

    <!--Application development-->
    <li class="sidebar-brand">
        <span>Application development pocess</span>
    </li>
    <li class="<% if(active=='docs-app0'){%> active <%}%>">
        <a href="#/docs-app0">0. Process description</a>
    </li>
    <li class="<% if(active=='docs-app1'){%> active <%}%>">
        <a href="#/docs-app1">1. Identify modules</a>
    </li>
    <li class="<% if(active=='docs-app2'){%> active <%}%>">
        <a href="#/docs-app2">2. Create application</a>
    </li>
    <li class="<% if(active=='docs-app3'){%> active <%}%>">
        <a href="#/docs-app3">3. Application development</a>
    </li>
    <li class="<% if(active=='docs-app4'){%> active <%}%>">
        <a href="#/docs-app4">4. Application deployment</a>
    </li>
    <li class="<% if(active=='docs-app5'){%> active <%}%>">
        <a href="#/docs-app5">5. Application appropriation</a>
    </li>
    <li class="<% if(active=='docs-app6'){%> active <%}%>">
        <a href="#/docs-app6">6. Device appropriation</a>
    </li>
    <li class="<% if(active=='docs-app7'){%> active <%}%>">
        <a href="#/docs-app7">7. Application interaction</a>
    </li>

    <!--Toolkit extension-->
    <li class="sidebar-brand">
        <span>Toolkit extension process</span>
    </li>
    <li class="<% if(active=='docs-ext0'){%> active <%}%>">
        <a href="#/docs-ext0">0. Process description</a>
    </li>
    <li class="<% if(active=='docs-ext1'){%> active <%}%>">
        <a href="#/docs-ext1">1. Device development</a>
    </li>
    <li class="<% if(active=='docs-ext2'){%> active <%}%>">
        <a href="#/docs-ext2">2. Library development</a>
    </li>
    <li class="<% if(active=='docs-ext3'){%> active <%}%>">
        <a href="#/docs-ext3">3. TILES Card selection</a>
    </li>

<!--TODO: Decide if two seperate API sections are needed...-->
    <!--API description-->
    <!--<li class="sidebar-brand">
        <span>TILES toolkit API</span>
    </li>
    <li class="<% if(active==''){%> active <%}%>">
        <a href="#">1. JavaScript API</a>
    </li>
    <li class="<% if(active==''){%> active <%}%>">
        <a href="#">2. Rule engine API</a>
    </li>-->
</ul>