<% var nameOfDocs = "docs-ext2"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Library development <span style="color:red;">(not finished)</span></h2>
                <p>
                    involves registering new primitives to the API library in order for application developers to be able to utilize the capabilities
                    created in step 1.
                </p>
            </div>
        </div>
    </script>