<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-app4"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>4. Launch Development Environment</h2>
                <p>
                    In the <a href="{{prevUrl()}}">previous step</a> you configured your application with the digital placeholders
                    for the physical objects you will use in your application. Now you are ready to start code your application,
                    but before you can do that, you need to start the development environment in which you will be writing
                    the application code. Depending on what environment you selected for your application when
                    <a href="#/docs-app2">creating the application</a>, this process varies slightly. Please find the relevant
                    section below.
                </p>
                <h3>Cloud Development Environment</h3>
                <p>
                    If you followed the suggested approach of this tutorial and selected the Cloud Development Environment, there is only one
                    thing you need to do in order to start the development environment. Go to the application details by
                    selecting your application from the
                    <a href="/#/applications">list of applications</a>. Here you should see a button with the text
                    <b>Start hosting</b>. Please click this button, and your Cloud Development Environment will be started.
                    After clicking the button you should see an URL which will bring you to your Cloud Development Environment,
                    which should be similar to the one seen in the image below.
                </p>
                <div class="docs-img opacity75">
                    <img src="images/howto/howto-cloud9-ide.png" alt="cloud9_ide" />
                    <br/>
                    <span>Cloud Development Environment</span>
                </div>

                <h3>Local Development Environment</h3>
                <p>
                    If you selected the Local Development Environment, you should be familiar with NodeJS. By selecting this approach, you will
                    be able to download the full JavaScript API by selecting your application from the <b>Download API</b>                    button. Unzip the downloaded file your local computer and open a command line interface (CLI) in the
                    directory named API. The first thing you will need to do is run
                    <b>npm install</b> to install all dependencies before you can start writing your code in the tiles.js
                    file located in the templates directory. Please visit the documentation on the
                    <a href="https://nodejs.org/en/docs/">NodeJS website</a> for more information about using NodeJS and
                    npm.
                </p>
                <h3>Rule Engine Development Environment</h3>
                <p>
                    The Rule Engine Development Environment is the simples of the available developmen environments. After creating your application
                    the environment will alrady be running, and there is no further steps required. Select your application
                    from the
                    <a href="/#/applications">list of applications</a>, and you are ready to start developing your first
                    IoT application.
                </p>
            </div>
        </div>
    </script>