<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-ext0"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>TILES toolkit Extension Process</h2>

                <p>
                    If you are looking for a way to customize the TILES toolkit by adding additional hardware features in the
                    <b>TILES Squares</b> or if you want to extend the
                    <b>development APIs</b> of the toolkit, then the <i>TILES toolkit Excension Process</i> (TEP) is indeded
                    for you. The TEP is a process inteded to guide <i>expert users</i> through the steps of extending the
                    TILES toolkit with new and improved hardware and software capabilities. Following the steps of the TEP
                    should enable you to take the existing TILES toolkit, and customize it to fit your needs. Employing the
                    TEP systematically imply that the new features of the toolkit will be available to
                    <i>non-expert users</i> in IoT application development.

                    <br/><br/> An illustration of the TEP and a short description of the defined steps can be seen below.
                    Go through each subsection of the documentation sequentially and you will have end up with an extended
                    TILES toolkit in just a few moments.
                </p>
                <table class="table table-striped docs-process-table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="#/docs-ext1">Device Development</a></td>
                        <td>involves extending the hardware prototype, possibly with additional hardware, and implement input/output
                            primitives in firmware.</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#/docs-ext2">Library Development</a></td>
                        <td>involves implementing new features to the toolkit APIs in order for application developers to be
                            able to utilize the capabilities created in step 1.</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#/docs-ext3">API Deployment</a></td>
                        <td>entails deploying the extended libraries to the TILES Cloud server.</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="#/docs-ext4">TILES Card selection (optional)</a></td>
                        <td>involves selecting a subset of the TILES Cards by removing all cards that are not supported by the
                            extended hardware configuration of the TILES Squares and development APIs. The subset will only
                            contain cards supported extended toolkit.</td>
                    </tr>
                </table>
                <div class="docs-img">
                    <img src="/images/toolkit-extension-process.png" alt="toolki_extension_process" />
                    <br/>
                    <span>TILES toolkit Extension Process</span>
                </div>

            </div>
        </div>
    </script>