<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->


<% var nameOfDocs = "docs-ext4"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>TILES Card Deck Creation (optional)</span>
                </h2>
                <p>
                    Even though this step is optional, it is higly recommended in order to simplify the development process for
                    <i>non-experts</i> using the extended toolkit. The TILES Cards is an ideation process that has been tested
                    and tailored to help non-expert users to develop ideas for IoT applications. Following this final step
                    of the TEP will provide non-experts with a deck of TILES Cards that are supported by your extended TILES
                    toolkit, and removing those cards that are not supported.
                </p>
                <p>
                    There are only two things that needs to be done in this step:
                    <ol type="a">
                        <li>Remove unsupported TILES Cards</li>
                        <li>Create new TILES Cards</li>
                    </ol>
                </p>
                <h3>a. Remove unsupported TILES Cards</h3>
                <p>
                    Starting from the original TILES Card deck you will need to remove those cards that are not supported by your extended TILES
                    toolkit. For example, if your TILES Square firmware does not support detecting proximity, the
                    <b>proximity</b> sensor card should be removed from the card deck.

                </p>
                <h3>b. Create new TILES Cards</h3>
                <p>
                    After you have removed those cards that are not supported by your extended TILES toolkit, you need to create additional cards
                    for the primitives that you have implemented that is not available in the original TILES Card deck. For
                    example, if you have implemented a printer in the firmware and connected it to the TIELS Squares, you
                    should create a card for this output primitive.
                </p>
                <p>
                    By following these two steps you ensure that the non-experts only have supported operations available during the ideation
                    phase in the TILES Cards. This way the non-experts are not able to use unsupported interaction primitives,
                    and get confused when it is not supported by the hardware or APIs during the prototyping phase.
                </p>

            </div>
        </div>
    </script>