<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-app5"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Application Appropriation <span style="color:red">(not finished)</span></h2>
                <p>
                    In this step of the process you should be ready to start using your IoT application by setting up the TILES Gateway to communicate
                    with your application, configured in the TILES Cloud server.
                </p>
                <div class="docs-img">
                    <img style="border:solid 1px red;" src="http://www.albax.fr/images/no_img_liste.gif" />
                </div>
            </div>
        </div>
    </script>