<script type="text/ng-template" id="/docs6.html">
    <div style="margin-top:-20px">
        <div class="wrapper toggled">
            <div>
                <% var active = 'docs6' %>
                <% include docs-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <h2>Deploying applicaiton</h2>
            </div>
        </div>
    </div>
</script>