<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<ul class="sidebar-nav">

    <!--Docs Main-->
    <li class="sidebar-brand">
        <span>Getting started</span>
    </li>
    <li class="<% if(active=='docs-main1'){%>active<%}%>">
        <a href="#/docs-main1">1. Introduction</a>
    </li>
    <li class="<% if(active=='docs-main2'){%> active <%}%>">
        <a href="#/docs-main2">2. Getting started</a>
    </li>
    <li class="<% if(active=='docs-main3'){%> active <%}%>">
        <a href="#/docs-main3">3. TILES toolkit</a>
    </li>
    <li class="<% if(active=='docs-main4'){%> active <%}%>">
        <a href="#/docs-main4">4. Development environments</a>
    </li>
    <li class="<% if(active=='docs-main5'){%> active <%}%>">
        <a href="#/docs-main5">5. TILES Square primitives</a>
    </li>
    <li class="<% if(active=='docs-main6'){%> active <%}%>">
        <a href="#/docs-main6">6. more?</a>
    </li>

    <!--Application development-->
    <li class="sidebar-brand">
        <span>App. Development Process</span>
    </li>
    <li class="<% if(active=='docs-app0'){%> active <%}%>">
        <a href="#/docs-app0">0. Process description</a>
    </li>
    <li class="<% if(active=='docs-app1'){%> active <%}%>">
        <a href="#/docs-app1">1. Identify Modules</a>
    </li>
    <li class="<% if(active=='docs-app2'){%> active <%}%>">
        <a href="#/docs-app2">2. Create Application</a>
    </li>
    <li class="<% if(active=='docs-app3'){%> active <%}%>">
        <a href="#/docs-app3">3. Application Development</a>
    </li>
    <li class="<% if(active=='docs-app4'){%> active <%}%>">
        <a href="#/docs-app4">4. Application Deployment</a>
    </li>
    <li class="<% if(active=='docs-app5'){%> active <%}%>">
        <a href="#/docs-app5">5. Application Appropriation</a>
    </li>
    <li class="<% if(active=='docs-app6'){%> active <%}%>">
        <a href="#/docs-app6">6. Device Appropriation</a>
    </li>
    <li class="<% if(active=='docs-app7'){%> active <%}%>">
        <a href="#/docs-app7">7. Application Interaction</a>
    </li>

    <!--Toolkit extension-->
    <li class="sidebar-brand">
        <span>Toolkit extension process</span>
    </li>
    <li class="<% if(active=='docs-ext0'){%> active <%}%>">
        <a href="#/docs-ext0">0. Process description</a>
    </li>
    <li class="<% if(active=='docs-ext1'){%> active <%}%>">
        <a href="#/docs-ext1">1. Device Development</a>
    </li>
    <li class="<% if(active=='docs-ext2'){%> active <%}%>">
        <a href="#/docs-ext2">2. Library Development</a>
    </li>
    <li class="<% if(active=='docs-ext3'){%> active <%}%>">
        <a href="#/docs-ext3">3. TILES Card Selection</a>
    </li>

    <!--JavaScript API-->
    <li class="sidebar-brand">
        <span>JavaScript API</span>
    </li>
    <li class="<% if(active=='docs-js1'){%> active <%}%>">
        <a href="#/docs-js1">1. Introduction</a>
    </li>
    <li class="<% if(active=='docs-js2'){%> active <%}%>">
        <a href="#/docs-js2">2. Event Reader API</a>
    </li>
    <li class="<% if(active=='docs-js3'){%> active <%}%>">
        <a href="#/docs-js3">3. Postman Client API</a>
    </li>
    <li class="<% if(active=='docs-js4'){%> active <%}%>">
        <a href="#/docs-js4">4. IFTTT Client API</a>
    </li>
    <li class="<% if(active=='docs-js5'){%> active <%}%>">
        <a href="#/docs-js5">5. Example scenario 1</a>
    </li>
    <li class="<% if(active=='docs-js6'){%> active <%}%>">
        <a href="#/docs-js6">6. Example scenario 2</a>
    </li>

    <!--Rule Engine API-->
    <li class="sidebar-brand">
        <span>Rule Engine API</span>
    </li>
    <li class="<% if(active=='docs-re1'){%> active <%}%>">
        <a href="#/docs-re1">1. Introduction</a>
    </li>
    <li class="<% if(active=='docs-re2'){%> active <%}%>">
        <a href="#/docs-re2">2. TILES Rule API</a>
    </li>
    <li class="<% if(active=='docs-re3'){%> active <%}%>">
        <a href="#/docs-re3">3. IFTTT Rule API</a>
    </li>
    <li class="<% if(active=='docs-re4'){%> active <%}%>">
        <a href="#/docs-re4">4. Example scenario 1</a>
    </li>
    <li class="<% if(active=='docs-re5'){%> active <%}%>">
        <a href="#/docs-re5">5. Example scenario 2</a>
    </li>
</ul>