<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-re2"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>2. Map HUMAN ACTIONS cards to TILE rules</h2>
                <p>
                    To define rules for HUMAN ACTIONS cards, you need to find the TILE rule section in your Rule Engine Development Environment,
                    seen in the image below.
                </p>
                <div class="docs-img opacity75">
                    <img src="/images/howto/howto-add-tile-rule.png" alt="add_new_tile_rule" />
                    <br/>
                    <span>Add new TILE rule</span>
                </div>
                <hr/>
                <p>
                    Click the
                    <img src="/images/howto/howto-new-tile-rule-button.png" alt="+ new TILE rule" /> button to open the TILE
                    rule form seen below.
                </p>
                <div class="docs-img opacity75">
                    <img src="/images/howto/howto-tile-rule-form.png" alt="tile_rule_form" />
                    <br/>
                    <span>TILE rule form</span>
                </div>
                <hr/>
                <p>
                    In the TILE rule form, the left part is related to the
                    <b>HUMAN ACTIONS</b> cards, while the right part is related to the
                    <b>FEEDBACK</b> cards, as seen in the image below.
                </p>
                <div class="docs-img opacity75">
                    <img src="/images/howto/howto-tile-rule-form-with-explanation.png" alt="tile_rule_form_with_explanation" />
                    <br/>
                    <span>TILE rule form divided into HUMAN ACTIONS and FEEDBACK</span>
                </div>
                <hr/>
                <p>
                    In the <b>HUMAN ACTIONS</b> section of the TILE rule form, select the relevant input TILES Square from
                    the first dropdown box, and select the trigger action in the second. To conclude the TILE rule, you also
                    need to define a <b>FEEDBACK</b> action. To see how to define the <b>FEEDBACK</b> actions, see the
                    <a href="{{nextUrl}}">next section</a>.
                </p>
            </div>
        </div>
    </script>