<script type="text/ng-template" id="/docs4.html">
    <div style="margin-top:-20px">
        <div class="wrapper toggled">
            <div>
                <% var active = 'docs4' %>
                <% include docs-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <h2>Development environments</h2>
            </div>
        </div>
    </div>
</script>