<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-app2"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>2. Create and configure application</h2>
                <p>
                    This step of the process involves defining an applicaiton name and create the application context by selecting a development
                    environment in the TILES Cloud web portal. Which development environment you select depends on how you
                    want to develop your application. See the
                    <a href="{{selectDevEnvUrl}}" target="_blank">development environment</a> section to read more about the available environments.
                    If this is the first time you use the TILES toolkit for your IoT application prototyping, we suggest
                    you select the
                    <b>Cloud development environment</b> as this is what we will be using throughout this tutorial.
                </p>
                <h3>Creating a new application in TILES Cloud</h3>
                <p>
                    To create a new application, navigate to the <a href="/#/applications" target="_blank">applications</a> page of the TILES
                    Cloud web portal. Here you will be able to see all registered applications together with some information
                    about them, as seen in the image below.
                </p>
                <div class="docs-img opacity75">
                    <img src="/images/howto/howto-list-applications.png" alt="list_applications" />
                    <br/>
                    <span>List of Applications in TILES Cloud web portal</span>
                </div>
                <p>
                    By clicking the <b>Create new application</b> you will be prompted with the create application form,
                    as seen below. Here you will enter a name for your application, select the development environment, and
                    select the owner of the application. If you are unsure of which development environemnt to use, we suggest
                    the
                    <b>Cloud development environment</b>. As application owner, please select your username, as you defined
                    in the <a href="{{prevUrl()}}">previous step</a>. After filling the form, hit the <b>Create</b> button,
                    and your application will appear in the list of applicaitons.
                </p>
                <div class="docs-img opacity75">
                    <img src="/images/howto/howto-create-application.png" alt="create_application" />
                    <br/>
                    <span>Add application form in TILES Cloud web portal</span>
                </div>
                <p class="text-signal-orange">
                    <span class="glyphicon glyphicon-warning-sign"></span> See
                    <a href="{{selectDevEnvUrl}}" target="_blank">development environment</a> section for more information on the available
                    environments.
                </p>
            </div>
        </div>
    </script>