<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<!-- TOP Navigation arrows -->
<div class="content-navigation top">
    <a class="left" ng-show="prevUrl()" ng-href="{{prevUrl()}}">
        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <span>Previous</span>
    </a>
    <a class="right" ng-show="nextUrl()" ng-href="{{nextUrl()}}">
        <span>Next</span>
        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
    </a>
</div>

<!-- BOTTOM Navigation arrows-->
<div class="content-navigation bottom">
    <a class="left" ng-show="prevUrl()" ng-href="{{prevUrl()}}">
        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <span>Previous</span>
    </a>
    <a class="right" ng-show="nextUrl()" ng-href="{{nextUrl()}}">
        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <span>Next</span>
    </a>
</div>

<!-- Toggle side panel button -->
<div id="side-panel-toggle">
    <button type="button" class="btn" ng-click="toggleWrapper()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
</div>