<% var nameOfDocs = "docs-app5"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Application appropriation</h2>
                <p>
                    In this step of the process you should be ready to start using your IoT application by setting up the TILES Gateway to communicate
                    with your application, configured in the TILES Cloud server.
                </p>
                <div class="docs-img">
                    <img style="border:solid 1px red;" src="http://www.albax.fr/images/no_img_liste.gif" />
                </div>
            </div>
        </div>
    </script>