<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-app4"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Application deployment</h2>
                <p>
                    By now you should have configured your application in the TILES Cloud web portal and developed the program code in your selected
                    development environment. This step of the process involves deploying the application, by enabeling the
                    program code to be executed, even when you exit the hosted development environment. How to deploy your
                    application depends on what development environment you have selected for your application.
                </p>
                <h3><i>Cloud</i> or <i>Rule engine</i> development environments</h3>
                <p>
                    For both 'Cloud' and 'Rule engine' development environments, the environment is hosted in the TILES Cloud web portal. This
                    means that your program code is already stored on the Cloud server, and deploying your application is
                    as simple as pressing a button. In the illustration below we can see the 'garage_control_system' developed
                    using the 'Cloud' development environment. By navigating to the
                    <a href="/#/applications">applications</a> in the TILES Cloud web portal and selecting our application,
                    we will be able to start the application by clicking the 'Start application' button. Once the application
                    is started the program code will be executed on the TILES Cloud server upon incomming events.
                </p>
                <div class="docs-img opacity75">
                    <img src="/images/howto/howto-deploy-application.png" alt="deploy_application" />
                    <br/>
                    <span>Deploy application in TILES Cloud web portal</span>
                </div>
                <h3><i>Local</i> development environment</h3>
                <p>
                    If you are using the 'Local' development environment, you are developing your application on your local machine using NodeJS.
                    With this approach, the program code is not stored on the TILES Cloud server, and you will need to manually
                    host and run the program code. To learn how to use NodeJS to run your application, please visit the documentation
                    on the
                    <a href="https://nodejs.org/en/docs/">NodeJS website</a>.
                </p>
            </div>
        </div>
    </script>