<script type="text/ng-template" id="/docs2.html">
    <div style="margin-top:-20px">
        <div class="wrapper toggled">
            <div>
                <% var active = 'docs2' %>
                <% include docs-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <h2>Getting started</h2>
            </div>
        </div>
    </div>
</script>