<% var nameOfDocs = "docs-main1"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>Introduction to the documentation</h2>
                <p>
                    This documentation section will show you how to use the TILES toolkit to make interactive objects for learning and play.
                    It will guide you through everything from the moment you aquire your first TILES hardware device, to
                    the moment you are ready to launch your IoT application and ship it as a product. For more information,
                    please visit the <a href="{{tilestoolkitUrl}}">TILES toolkit homepage</a>
                </p>
                <p>
                    This Guide is broken down into <i>five</i> parts:
                    <ul>
                        <li>
                            <a href="{{getStartedUrl}}">Getting Started</a> goes over the basics of what you need for development
                            and how the TILES toolkit works. If you are not an expert, and you have never played with embedded
                            hardware devices or programmed your own application, this is the section for you. If you are
                            an expert user and eager to get started with development, you can skip this section to get your
                            hands dirty right away. You will always be able to revisit this section later.
                        </li>
                        <li>
                            <a href="{{devProcessUrl}}">Application Development Process</a> explains the development process
                            that will guide you as a developer in everything from generating your first application idea,
                            to the application can be used by end users. Whether you are new to programming and wants to
                            create your first IoT application, or you are an experienced programmer that wants to use the
                            TILES toolkit in your latest project, this is the section for you.
                        </li>
                        <li>
                            <a href="{{extProcessUrl}}">Toolkit Extension Process</a> details the process of extending the
                            TILES toolkit with new features to be used in your own projects. This section is inteded for
                            the experienced user that wants to extend the TILES toolkit with new features such as new hardware
                            capabilities for the TILES Squares, or new API features for the development environments.
                        </li>
                        <li>
                            <a href="{{JSdevUrl}}">JavaScript API</a> supplements the application development phase of the
                            Application Development Process. This is inteded for you if you choose to use JavaScript for
                            developing your TILES application. This section also contains code samples for JavaScript.
                        </li>
                        <li>
                            <a href="{{REdevUrl}}">Rule engine API</a> supplements the application development phase of the
                            Application Development Process. This is inteded for you if you choose to use Rule Engine for
                            developing your TILES application. This section also contains samples for Rule Engine applications.
                        </li>
                    </ul>
                </p>

                <p>
                    The best way to use this guide depends on your goal. If you are a <i>non-expert</i> intending to develop
                    your first IoT application, you should:
                    <ol>
                        <li>Go through <a href="{{getStartedUrl}}">Getting Started</a></li>
                        <li>Go through the <a href="{{devProcessUrl}}">Application Development Process</a></li>
                        <li>Use either <a href="{{JSdevUrl}}">JavaScript API</a> or <a href="{{REdevUrl}}">Rule engine API</a>                            for development</li>
                    </ol>
                    If you are an expert user intending to extend the toolkit you should:
                    <ol>
                        <li>Get familiar with <a href="{{getStartedUrl}}">Getting Started</a></li>
                        <li>Go through the <a href="{{extProcessUrl}}">Toolkit Extension Process</a></li>
                    </ol>
                </p>
            </div>
        </div>
    </script>