<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->


<% var nameOfDocs = "docs-ext3"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>TILES Card selection (optional) <span style="color:red;">(not finished)</span></h2>
                <p>
                    involves selecting a subset of the TILES Cards most relevant for the current hardware configuration of the TILES Square prototype
                    implemented in step 1. The subset will only contain cards supported by the state of the prototype.
                </p>

                <p class="text-color-red">
                    You have reached the end of the documentation for the <b>TILES Toolkit Extension Process</b>.
                </p>
            </div>
        </div>
    </script>