<!--
   Copyright 2017 Anders Riise Mæhlum

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->

<% var nameOfDocs = "docs-app0"; %>
    <script type="text/ng-template" id="/<%=nameOfDocs%>.html">
        <div class="wrapper toggled">
            <div id="sidebar-wrapper">
                <% var active = nameOfDocs %>
                    <% include docs-common-sidebar %>
            </div>
            <div id="page-content-wrapper">
                <div>
                    <% include docs-common-content %>
                </div>
                <h2>TILES toolkit Application Development Process</h2>

                <p>
                    If you have just generated an IoT application idea and you are looking for a way to rapidly transform your idea into a working
                    prototype based on everyday object augmentation, you should keep on reading about the
                    <i>TILES toolkit Application Development Process</i> (ADP). The ADP is a process inteded to guide IoT
                    applicaiton developers through the required steps of prototyping a fully functional IoT application using
                    the TILES toolkit. Whether you are a non-expert or an expert user, this section will enable you to rapidly
                    transform your IoT applicaiton ideas into working prototypes with hardware components, message events
                    and running program code in no time.

                    <br/><br/> An illustration of the ADP and a short description of the defined steps can be seen below.
                    Go through each subsection of the documentation sequentially and you will have a working prototype of
                    your IoT application operable in just a few moments. Developing IoT applicatinos have never been easier!
                </p>
                <table class="table table-striped docs-process-table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="#/docs-app1">Identify Modules</a></td>
                        <td>continuing from the idea generated with the TILES Cards, it involves identifying the objects or things
                            to be used in the application, and allocate available TILES Squares with appropriate hardware
                            configuration for each thing. (Idea generation could also occur without TILES Cards).</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#/docs-app2">Create Application</a></td>
                        <td>involves using the TILES Cloud interface to create the application context and adding TILES Squares
                            identified in step 1 to the application.</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#/docs-app3">Application Development</a></td>
                        <td>entails coding the application features by using the available TILES Cloud web IDE. The application
                            developer must choose which development environment from the available options in the TILES Cloud
                            interface.
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="#/docs-app4">Application Deployment</a></td>
                        <td>involves starting the application in the TILES Cloud web interface.</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="#/docs-app5">Application Appropriation</a></td>
                        <td>involves selecting the application from a list of applications in the TILES Gateway.</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><a href="#/docs-app6">Device Appropriation</a></td>
                        <td>entails wireless discovery of the TILES Squares using the TILES Gateway, and pair the physical devices
                            with the placeholders registered in step 2.</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><a href="#/docs-app7">Application Interaction</a></td>
                        <td>entails using the application by interacting with the connected TILES Squares and other connected
                            services from step 3.</td>
                    </tr>
                </table>
                <div class="docs-img">
                    <img src="/images/application-development-process.png" alt="application_development_process" />
                    <br/>
                    <span>TILES toolkit Application Development Process</span>
                </div>
            </div>
        </div>
    </script>